#navbar-container {
    transition: ease 0.3s;
}

#jumbotron-container {
    background-image: url(./img/download.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 70vh;
}

#home {
    padding-top: 5rem;
}

#prestasi-container {
    background-color: #244c6d;
}

#username-ig {
    text-decoration: none;
}

#footer-container {
    background-color: #244c6d;
}

.navbar-scrolled {
    background-color: #244c6d;
}

.navbar-clicked {
    background-color: #244c6d;
}

.navbar-nav a {
    color: white;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}
  
.navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

a {
    text-decoration: none;
}